@model TeamResourceTool.ViewModels.ProjectDetails

@{
    ViewBag.Title = "AssignResource";
}

@helper ProjectStatus(string statusName)
{
    if (statusName == "Active")
    {
        <span class="badge badge-success">@statusName</span>
    }
    else if (statusName == "Closed")
    {
        <span class="badge badge-default">@statusName</span>
    }
    else
    {
        <span class="badge badge-warning">@statusName</span>
    }
}

<br/>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Team")">Team</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Project")">Project List</a></li>
    <li class="breadcrumb-item">Assign Resources</li>
</ol>

<br />

<div class="row">
    <h4 class="col-md-12">
        @Model.Project.Name | @ProjectStatus(Model.Project.Status)
    </h4>
</div>

<hr />
<div class="row">
    <div class="col-md-9">
        <div style="text-align: right;">
            <button class="btn btn-info">Edit Project</button>
            <a href="@Url.Action("AssignResource", "Project")" class="btn btn-warning">Assign Resource</a>

        </div>
        <h4>General Info</h4>
        <p>@Model.Project.Description</p>
        <br />

        <div style="margin-left:20px;" class="">
            <p><b>Go Live Date:</b> @Model.Project.GoLive</p>
            <p><b>Event Date:</b> @Model.Project.EventDates</p>
            <p><b>Duration:</b> @Model.Project.BuildStart - @Model.Project.GoLive</p>
            <p><b>Client:</b> @Model.Project.Client</p>
            <p><b>Project Resources:</b> <span class="badge badge-success">@Model.Resources.Count()</span></p>
            <div class="row">
                @{
                    if (Model.Resources.Any())
                    {
                        foreach (var item in Model.Resources)
                        {
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">@item.FirstName @item.LastName</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">@item.Role.Name</h6>
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {

                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">
                <b>Onsite Resources</b>  <span class="badge badge-warning">@Model.OnsiteResources.Count()</span>
            </div>
            <div class="card-body">
                @foreach (var item in Model.OnsiteResources)
                {
                    <p>
                        <b>@item.FirstName @item.LastName</b><br />
                        @item.Role.Name
                    </p>
                }
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">
                <b>Assigned Resources</b>  <span class="badge badge-warning">@Model.Resources.Count()</span>
            </div>
            <div class="card-body">
                @foreach (var item in Model.Resources)
                {
                    <p>
                        <b>@item.FirstName @item.LastName</b><br />
                        @item.Role.Name
                    </p>
                }
            </div>
        </div>
    </div>
</div>




