@model TeamResourceTool.ViewModels.TeamDashboardViewModel
@section Scripts
{
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">

        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: ""
                },
               legend: {
			maxWidth: 300,
			itemWidth: 120
		},
		data: [
		{
			type: "pie",
			showInLegend: true,
			legendText: "{indexLabel}",
			dataPoints: @Html.Raw(ViewBag.AllProjectsDataPoints),
		}
		]
	    });
            chart.render();
        };
    </script>
}
@helper ProjectStatus(string statusName)
{
    if (statusName == "Active")
    {
        <span class="badge badge-success">@statusName</span>
    }
    else if (statusName == "Closed")
    {
        <span class="badge badge-Primary">@statusName</span>
    }
    else
    {
        <span class="badge badge-warning">@statusName</span>
    }
}
<br />
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
    <li class="breadcrumb-item">Dashboard</li>

</ol>
<div class="row">
    <div class="col-md-12">
        <p style="
    font-size:  20px;
    font-weight: 600;">Dashboard</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fa fa-tasks" aria-hidden="true"></i> Projects
                </h4>
                <h6 class="card-subtitle mb-2 text-muted text-center"></h6>
                <p class="card-text"></p>
            </div>
            <div class="card-footer text-muted text-right">
                <a href="@Url.Action("Index","Project")" class="card-link">View Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Resources
                </h4>
                <h6 class="card-subtitle mb-2 text-muted text-center"></h6>
                <p class="card-text"></p>
            </div>
            <div class="card-footer text-muted text-right">
                <a href="#" class="card-link">View Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> Sprint Planning
                </h4>
                <h6 class="card-subtitle mb-2 text-muted text-center"></h6>
                <p class="card-text"></p>
            </div>
            <div class="card-footer text-muted text-right">
                <a href="@Url.Action("Index","Project", new { id = Request.Url.Segments.Last() })" class="card-link">View Details</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <div class="pull-left">
                    <b>Events in Build Process</b>
                </div>
                <div class="pull-right">
                    <a href="@Url.Action("Add", "Project")" class="btn btn-sm btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> New Event</a>
                </div>
            </div>
            <div class="card-body text-center" style="padding:0">
                <table class="table table-hover" style="margin-bottom:0px !important;">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Days to Deadline</th>
                            <th scope="col">Event Location</th>
                            <th scope="col">Status</th>
                            <th>Team Resources</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.BuildProjects != null)
                        {
                            foreach (var proj in Model.BuildProjects)
                            {
                                <tr class="table-light">
                                    <td><a class="" href="@Url.Action("Details", "Project", new { teamID = proj.TeamId, projectId = proj.Id })"><b>@proj.Name</b></a></td>
                                    <td>@(DateTime.Now.Subtract((DateTime)proj.GoLive).Days.ToString())</td>
                                    <td>@proj.EventLocation</td>
                                    <td>@ProjectStatus(proj.Status)</td>
                                    <td>
                                        <p>
                                            @if (Model.ProjectAssignedResources.Any())
                                            {
                                                foreach (var res in Model.ProjectAssignedResources)
                                                {
                                                    <small>@res.FirstName @res.LastName</small><br />
                                                }
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("AssignResource", "Project", new { id = proj.TeamId, pId = proj.Id })" class="btn btn-sm btn-warning">Assign</a>
                                            }

                                        </p>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="height: 200px;">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <div class="pull-left">
                    <b>Team Resources</b>
                </div>
                <div class="pull-right">
                    <a href="@Url.Action("Add", "Project")" class="btn btn-sm btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> New</a>
                    <a href="@Url.Action("GetResources", "Team", new { id = Request.Url.Segments.Last() })" class="btn btn-sm btn-primary"><i class="fa fa-list-alt" aria-hidden="true"></i> View All</a>
                </div>
            </div>
            <div class="card-body text-center" style="color: #111;padding:0">
                <div class="list-group col-xs-12" style="max-height: 200px;margin-bottom: 10px;overflow-y:scroll;-webkit-overflow-scrolling: touch;">
                    @if (Model != null && Model.Resources != null)
                    {
                        foreach (var item in Model.Resources)
                        {
                            <a href="@Url.Action("Details", "Project", new { teamID = item.TeamId, projectId = item.Id })" class="col-xs-6 list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1 text-danger">@item.FirstName @item.LastName</h6>
                                    <small>@item.Role.Name</small>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
        <div id="chartContainer" style="position: relative; height: 300px; width: 100%;"></div>

    </div>
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header"><b>Live Events</b></div>
            <div class="list-group">
                @if (Model != null && Model.LiveProjects != null)
                {
                    foreach (var item in Model.LiveProjects)
                    {
                        <a href="@Url.Action("Details", "Project", new { teamID = item.TeamId, projectId = item.Id })" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1 text-success">@item.Name</h6>
                                <small>@(DateTime.Now.Subtract((DateTime)item.GoLive).Days.ToString()) days ago</small>
                            </div>
                            <small><b>Live Date: @String.Format("{0:MM/dd/yyyy}", item.GoLive)</b></small>
                        </a>
                    }
                }
                else
                {
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-success">There is no Live event.</h6>
                            <small></small>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header"><b>Events Happening (Onsite)</b></div>
            <div class="list-group">
                @if (Model != null && Model.InProgressProjects != null)
                {
                    foreach (var item in Model.InProgressProjects)
                    {
                        <a href="@Url.Action("Details", "Project", new { teamID = item.TeamId, projectId = item.Id })" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1 text-danger">@item.Name</h6>
                                <small>@item.EventLocation</small>
                            </div>

                            <small><b>Event Dates:</b> @string.Format("{0:MM/dd/yyyy}", item.EventStartDate) - @string.Format("{0:MM/dd/yyyy}", item.EventEndDate)</small>
                        </a>
                    }
                }
                else
                {
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-success">There is no Onsite event.</h6>
                            <small></small>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8">

    </div>
    <div class="col-md-4">

    </div>
</div>