@model TeamResourceTool.ViewModels.TeamDashboardViewModel

@helper ProjectStatus(string statusName)
{
    if (statusName == "Active")
    {
        <span class="badge badge-success">@statusName</span>
    }
    else if (statusName == "Closed")
    {
        <span class="badge badge-Primary">@statusName</span>
    }
    else
    {
        <span class="badge badge-warning">@statusName</span>
    }
}
<br />
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
    <li class="breadcrumb-item">Dashboard</li>

</ol>
<div class="row">
    <div class="col-md-12">
        <p style="
    font-size:  20px;
    font-weight: 600;">Dashboard</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fa fa-tasks" aria-hidden="true"></i> Projects
                </h4>
                <h6 class="card-subtitle mb-2 text-muted text-center"></h6>
                <p class="card-text"></p>
            </div>
            <div class="card-footer text-muted text-right">
                <a href="@Url.Action("Index","Project")" class="card-link">View Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Resources
                </h4>
                <h6 class="card-subtitle mb-2 text-muted text-center"></h6>
                <p class="card-text"></p>
            </div>
            <div class="card-footer text-muted text-right">
                <a href="#" class="card-link">View Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fa fa-list-alt" aria-hidden="true"></i> Summary
                </h4>
                <h6 class="card-subtitle mb-2 text-muted text-center"></h6>
                <p class="card-text"></p>
            </div>
            <div class="card-footer text-muted text-right">
                <a href="#" class="card-link">View Details</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8">
        <div class="card bg-light mb-3">
            <div class="card-header"><b>Events in Build Process</b></div>
            <div class="card-body text-center" style="color: #111;padding:0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Days to Deadline</th>
                            <th scope="col">Event Location</th>
                            <th scope="col">Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.BuildProjects != null)
                        {
                            foreach (var item in Model.BuildProjects)
                            {
                                <tr class="table-Default">
                                    <td><a class="" href="@Url.Action("Details", "Project", new { teamID = item.TeamId, projectId = item.Id })"><b>@item.Name</b></a></td>
                                    <td>@(DateTime.Now.Subtract((DateTime)item.GoLive).Days.ToString())</td>
                                    <td>@item.EventLocation</td>
                                    <td>@ProjectStatus(item.Status)</td>
                                    <td>@**@</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header"><b>Live Events</b></div>
            <div class="list-group">
                @if (Model != null && Model.LiveProjects != null)
                {
                    foreach (var item in Model.LiveProjects)
                    {
                        <a href="@Url.Action("Details", "Project", new { teamID = item.TeamId, projectId = item.Id })" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 text-success">@item.Name</h5>
                                <small>@(DateTime.Now.Subtract((DateTime)item.GoLive).Days.ToString()) days ago</small>
                            </div>
                            <p class="mb-1">
                                Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                            </p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                    }
                }
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-header"><b>Events Happening (Onsite)</b></div>
            <div class="list-group">
                @if (Model != null && Model.InProgressProjects != null)
                {
                    foreach (var item in Model.InProgressProjects)
                    {
                        <a href="@Url.Action("Details", "Project", new { teamID = item.TeamId, projectId = item.Id })"  class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 text-danger">@item.Name</h5>
                                <small>@item.EventLocation</small>
                            </div>
                            <p class="mb-1">
                                Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                            </p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>
